* {
    border: none;
    font-size: 10px;
    font-family: "Fira Code Retina, Fira Code, JetBrainsMono Nerd Font,JetBrainsMono NF";
    font-weight: bold;
    color: white;
}

window#waybar {
    background: transparent;
}

#workspaces button {
    all: initial;
    background-color: rgba(0, 0, 0, 0.3);
    color: transparent;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    /* margin: 1px; */
}

#workspaces button.empty {
    background-color: transparent;
}
#workspaces button.active {
    background-color: black;
}

/* #workspaces button { */
/*     background-color: @active; */
/* } */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-color: rosybrown;
}
