[Unit]
Description=Log and display your app usage
After=network.target

[Service]
ExecStart=/home/alice/.local/bin/welldream server debug
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target

